.gif_wrapper {
	background-position-x: center;
	background-position-y: center;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	max-width: 100%;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 15px;
}

.gif_wrapper img {
	max-width: 100%;
}

.gif_wrapper .overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	opacity: 0.9 ;
	cursor: pointer;
	background-size: contain;
}
